/* fonts */

@font-face {
    font-family: title;
    src: url(assets\fonts\Young_Serif\YoungSerif-Regular.ttf);
}

@font-face {
    font-family: body;
    src: url(assets\fonts\Open_Sans\OpenSans-VariableFont_wdth,wght.ttf);
}

/* temp */

.coming-soon {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-family: title;
    font-size: 1.8rem;
    padding: 1.5rem;
    color: white;
}

.coming-soon > h2, h3 {
    margin: 1rem 0rem 1rem;
}

.announcement, .appeal {
    text-align: center;
    min-width: 100%;
}

.announcement {
    font-size: 2rem;
}

.appeal {
    font-size: 3rem;
}

.coming-soon > ul {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.coming-soon > ul > li {
    font-family: body;
    font-size: 1.1rem;
    line-height: 1.8;
    color:white;
    margin: 0vh 25vw 0vh;
}

.coming-soon > h3.contact {
    font-family: title;
    font-size: 1.5rem;
    text-align: center;
}

/* section skeleton styles */

body {
    display: flex;
    flex-direction: column;
}

.sec1, .sec2, .sec3, .sec4 {
    display: flex;
    flex-direction: column;
    justify-content: top;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
}

.sec1 {
    background-image: url('/assets/collage-1.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.sec2 {
    background-image: url('/assets/cards.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.sec3 {
    background-image: url('/assets/deliver-gifts.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;    
}

.sec4 {
    background-image: url('/assets/join-the-team.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.section-header {
    font-family: title;
    font-size: 5rem;
    text-align: center;
    display: flex;
    justify-content: center; 
    width: 100%;
    margin: 2vw 0vw 5vw;
}

.section-header > h1 {
    filter: drop-shadow(0.5rem 0.3rem 0.35rem #00000092);
}

.section-content-container {
    display: flex;
    justify-content: center; 
    width: 100%;
}

/* section component styles */

.section-header {
    margin: 1vh 0vw 5vw;
}

.section-header > h1 {
    font-size: 6.5rem;
    color: rgb(255, 255, 255);
    padding: 1.2rem 1.1rem 1.2rem;
    margin: 30vh 0vh 0vh;
}

.section-header > h2 {
    color: rgb(255, 255, 255);
    border: 0.1rem solid rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    padding: 1rem 1.2rem 1rem;
}

.blurb {
    text-align: center;
    width: 100%;
    max-width: 50vw;
    background: rgba(215, 242, 255, 0.35);
    border-radius: 5px;
}

ul.blurb > li {
    color: white;
    font-family: body;
    font-size: 1.2rem;
    line-height: 1.5rem;
    padding: 1.2rem 1rem 1rem;
}

/* sponsor section */

.sponsor-section {
    display: flex;
    flex-direction: column;
    justify-content: top;
    padding: 5vh 0vw 0vh;
    width: 100vw;
    height: 50vh;
    max-width: 100%;
}

.sponsor-head {
    width: 100%;
}

.sponsor-blurb {
    font-family: body;
    font-size: 1.35rem;
    color: rgb(0, 0, 0);
    filter: drop-shadow(0.2rem 0.15rem 0.12rem #00000071);
    text-align: center;
}

.sponsor-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    padding: 2rem;
}

.sponsor-1, .sponsor-2, .sponsor-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 8rem;
    height: 8rem;
    padding: 0.8rem;
    background-color: blue;
}

.sponsor-1 {
    background-color: rgb(182, 223, 255);
    border-radius: 4rem;
}

.sponsor-2 {
    background-color: rgb(250, 255, 192);
    border-radius: 4rem;
}

.sponsor-3 {
    background-color: rgb(227, 227, 227);
    border-radius: 4rem;
}

.sponsor-logo {
    width: 8rem;
    height: auto;
}